.git
.github
logs

docker/data

infrastructure/.terraform
infrastructure/terraform.tfstate.d

dependencies/boltz-regtest/.git
dependencies/boltz-regtest/data

app/.dart_tool
app/build
hostr_sdk/.dart_tool
hostr_sdk/build

**/.DS_Store
**/.git
**/.dart_tool
**/build
**/node_modules
