[submodule "dependencies/boltz-core"]
	path = dependencies/boltz-core
	url = git@github.com:BoltzExchange/boltz-core.git
	ignore = dirty
[submodule "dependencies/boltz-regtest"]
	path = dependencies/boltz-regtest
	url = git@github.com:BoltzExchange/regtest.git
[submodule "ai/codex-marketplace"]
	path = ai/codex-marketplace
	url = git@github.com:sudonym-btc/hostr-codex.git
	branch = development
[submodule "dependencies/nmdk"]
	path = dependencies/nmdk
	url = git@github.com:sudonym-btc/nmdk.git
	branch = main
