[submodule "dependencies/boltz-core"]
	path = dependencies/boltz-core
	url = git@github.com:BoltzExchange/boltz-core.git
[submodule "dependencies/boltz-regtest"]
	path = dependencies/boltz-regtest
	url = git@github.com:sudonym-btc/regtest.git
[submodule "dependencies/blossom"]
	path = dependencies/blossom
	url = git@github.com:hzrd149/blossom-server.git
[submodule "dependencies/rif-relay-contracts"]
	path = dependencies/rif-relay-contracts
	url = git@github.com:rsksmart/rif-relay-contracts.git
