x-templates:
  lnd-base: &lnd-base
    image: lightninglabs/lnd:v0.20.0-beta
    depends_on:
      hostrbitcoind:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD-SHELL",
          'lncli --network=regtest --rpcserver=localhost:${LIGHTNING_RPC_PORT} --macaroonpath=/lnd/$$SEQUENCE/data/chain/bitcoin/regtest/admin.macaroon --tlscertpath=/lnd/$$SEQUENCE/tls.cert getinfo | grep ''"block_height":'' || exit 1',
        ]
      interval: 1s
      timeout: 1s
      retries: 100
      start_period: 0s
    command:
      [
        "lnd",
        "--alias=Alby",
        "--tlsextradomain=lnd1",
        "--tlsextradomain=lnd2",
        "--adminmacaroonpath=/lnd/$$SEQUENCE/data/chain/bitcoin/regtest/admin.macaroon",
        "--tlscertpath=/lnd/$$SEQUENCE/tls.cert",
        "--datadir=/lnd/$$SEQUENCE",
        "--noseedbackup",
        "--rpclisten=0.0.0.0:${LIGHTNING_RPC_PORT}",
        "--restlisten=0.0.0.0:${LIGHTNING_REST_PORT}",
        "--tlsextraip=0.0.0.0",
        "--bitcoin.regtest",
        "--bitcoin.node=bitcoind",
        "--bitcoind.rpchost=${BITCOIN_HOST}:${BITCOIN_RPC_PORT}",
        "--bitcoind.rpcuser=${BITCOIN_RPC_USER}",
        "--bitcoind.rpcpass=${BITCOIN_RPC_PASSWORD}",
        "--bitcoind.zmqpubrawtx=tcp://${BITCOIN_HOST}:${BITCOIN_ZMQ_TX_PORT}",
        "--bitcoind.zmqpubrawblock=tcp://${BITCOIN_HOST}:${BITCOIN_ZMQ_BLOCK_PORT}",
      ]
    volumes:
      - ./docker/data/lightning_data:/lnd
    networks:
      - default
      - shared_network

  albyhub-base: &albyhub-base
    platform: linux/amd64
    depends_on:
      lnd1:
        condition: service_healthy
      relay:
        condition: service_started
    image: ghcr.io/getalby/hub:latest
    networks:
      - default

services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./docker/certs:/etc/nginx/certs:ro
      - ./docker/blossom.hostr.development:/etc/nginx/vhost.d/blossom.hostr.development:ro
      - ./docker/blossom.hostr.development_location:/etc/nginx/vhost.d/blossom.hostr.development_location:ro
      - ./docker/nginx-proxy.conf:/etc/nginx/conf.d/zzz_upload.conf:ro
    environment:
      - ENABLE_WEBSOCKETS=true
    networks:
      - default

  # NOSTR Relay
  relay:
    container_name: relay
    image: scsibug/nostr-rs-relay:latest
    platform: linux/amd64
    environment:
      - VIRTUAL_HOST=relay.hostr.development
      - VIRTUAL_PORT=80
      - ENABLE_WEBSOCKETS=true
      - HTTPS_METHOD=noredirect
      - RUST_LOG=debug
      - nostr_rs_relay=debug
    ports:
      - "${RELAY_PORT}:80"
    volumes:
      - ./docker/relay.toml:/usr/src/app/config.toml
      - ./docker/data/relay:/usr/src/app/db
    networks:
      default:
        aliases:
          - relay.hostr.development

  # Nostr Blossom file server
  blossom:
    container_name: blossom
    image: ghcr.io/hzrd149/blossom-server:latest
    platform: linux/amd64
    environment:
      - VIRTUAL_HOST=blossom.hostr.development
      - VIRTUAL_PORT=3000
    ports:
      - "3001:3000"
    volumes:
      - ./docker/blossom.yaml:/app/config.yml
      - ./docker/data/blossom:/app/data
    networks:
      default:
        aliases:
          - blossom.hostr.development
    
  # Run EVM when don't want to run boltz but still want RPC client @TODO: add profile
  # evm:
  #   build:
  #     context: ./escrow/contracts
  #     dockerfile: Dockerfile
  #   ports:
  #     - "8545:8545"
  #   volumes:
  #     - ./escrow/contracts:/usr/src/app
  #     - /usr/src/app/node_modules
  #   command: ["npm", "exec", "hardhat", "--", "node"]

  # Escrow client which watches nostr & chain to facilitate escrow transactions
  escrow:
    build:
      context: ./escrow
      dockerfile: Dockerfile
    environment:
      - NOSTR_RELAY=ws://relay.hostr.development
      - PRIVATE_KEY=a9cbe715ebaeb852bf7cc3d35f4a81b9a58f16705e4bb8434aa453093e612206
      - RPC_URL=http://localhost:8545
      - CONTRACT_ADDR
    networks:
      - default
      - shared_network
    profiles:
      - escrow

  # Shared bitcoin node
  hostrbitcoind:
    container_name: hostrbitcoind
    image: bitcoin/bitcoin
    healthcheck:
      test:
        [
          "CMD",
          "bitcoin-cli",
          "-regtest",
          "-rpcuser=bitcoin",
          "-rpcpassword=bitcoin",
          "-rpcport=18888",
          "getblockchaininfo",
        ]
      timeout: 1s
      retries: 10
      interval: 1s
      start_period: 0s
    command:
      [
        "bitcoind",
        "-port=${BITCOIN_PORT}",
        "-addnode=boltz-bitcoind:18444",
        "-txindex=1",
        "-onlynet=ipv4",
        "-regtest=1",
        "-rpcport=${BITCOIN_RPC_PORT}",
        "-rpcuser=${BITCOIN_RPC_USER}",
        "-rpcpassword=${BITCOIN_RPC_PASSWORD}",
        "-rpcallowip=0.0.0.0/0",
        "-rpcbind=0.0.0.0",
        "-zmqpubrawtx=tcp://0.0.0.0:${BITCOIN_ZMQ_TX_PORT}",
        "-zmqpubrawblock=tcp://0.0.0.0:${BITCOIN_ZMQ_BLOCK_PORT}",
        "-zmqpubhashblock=tcp://0.0.0.0:${BITCOIN_ZMQ_BLOCK_PORT}",
      ]
    ports:
      - "${BITCOIN_PORT}:${BITCOIN_PORT}"
      - "${BITCOIN_RPC_PORT}:${BITCOIN_RPC_PORT}"
    volumes:
      - ./docker/data/bitcoin:/home/bitcoin/.bitcoin
    networks:
      - default
      - shared_network

  lnd1:
    <<: *lnd-base
    environment:
      - SEQUENCE=1
    ports:
      - "12209:8080"
      - "12219:8081"

  lnd2:
    <<: *lnd-base
    environment:
      - SEQUENCE=2
    ports:
      - "12210:8080"
      - "12220:8081"

  lnbits1:
    image: lnbits/lnbits:v1.4.2
    depends_on:
      lnd1:
        condition: service_healthy
    ports:
      - "${LNBITS_1_PORT}:5000"
    environment:
      - VIRTUAL_HOST=lnbits1.hostr.development
      - VIRTUAL_PORT=5000
      - LNBITS_ADMIN_UI=true
      - LNBITS_BACKEND_WALLET_CLASS=LndRestWallet
      - LND_REST_ENDPOINT=https://lnd1:${LIGHTNING_REST_PORT}
      - LND_REST_CERT=/app/lnd/tls.cert
      - LND_REST_MACAROON=/app${LND_ADMIN_MACAROON_PATH}
      - LNBITS_ADMIN_EXTENSIONS="lnurlp"
      - LNBITS_USER_DEFAULT_EXTENSIONS="lnurlp"
      - LNBITS_EXTENSIONS_DEFAULT_INSTALL="lnurlp"

    volumes:
      - ./docker/data/lightning_data/1:/app/lnd
      - ./docker/data/lnbits/1:/app/data
    networks:
      - default

  lnbits2:
    image: lnbits/lnbits:v1.4.2
    depends_on:
      lnd2:
        condition: service_healthy
    ports:
      - "${LNBITS_2_PORT}:5000"
    environment:
      - VIRTUAL_HOST=lnbits2.hostr.development
      - VIRTUAL_PORT=5000
      - LNBITS_ADMIN_UI=true
      - LNBITS_BACKEND_WALLET_CLASS=LndRestWallet
      - LND_REST_ENDPOINT=https://lnd2:${LIGHTNING_REST_PORT}
      - LND_REST_CERT=/app/lnd/tls.cert
      - LND_REST_MACAROON=/app${LND_ADMIN_MACAROON_PATH}
      - LNBITS_ADMIN_EXTENSIONS="lnurlp"
      - LNBITS_USER_DEFAULT_EXTENSIONS="lnurlp"
      - LNBITS_EXTENSIONS_DEFAULT_INSTALL="lnurlp"

    volumes:
      - ./docker/data/lightning_data/2:/app/lnd
      - ./docker/data/lnbits/2:/app/data
    networks:
      - default

  albyhub1:
    <<: *albyhub-base
    depends_on:
      lnd1:
        condition: service_healthy
    volumes:
      - ./docker/data/lightning_data/1:/lnd
      - ./docker/data/albyhub:/data
    environment:
      - VIRTUAL_HOST=alby1.hostr.development
      - VIRTUAL_PORT=8080
      - RELAY=ws://relay.hostr.development
      - AUTO_UNLOCK_PASSWORD=Testing123!
      - LOG_EVENTS=true
      - LN_BACKEND_TYPE=LND
      - LND_MACAROON_FILE=${LND_ADMIN_MACAROON_PATH}
      - LND_ADDRESS=lnd1:${LIGHTNING_RPC_PORT}
      - WORK_DIR=data/1
    ports:
      - "${ALBYHUB_1_PORT}:8080"

  albyhub2:
    <<: *albyhub-base
    depends_on:
      lnd2:
        condition: service_healthy
    volumes:
      - ./docker/data/lightning_data/2:/lnd
      - ./docker/data/albyhub:/data
    environment:
      - VIRTUAL_HOST=alby2.hostr.development
      - VIRTUAL_PORT=8080
      - RELAY=ws://relay.hostr.development
      - LOG_EVENTS=true
      - LN_BACKEND_TYPE=LND
      - LND_MACAROON_FILE=${LND_ADMIN_MACAROON_PATH}
      - LND_ADDRESS=lnd2:${LIGHTNING_RPC_PORT}
      - WORK_DIR=data/2
    ports:
      - "${ALBYHUB_2_PORT}:8080"

volumes:
  bitcoind:
  lightning_data:

networks:
  default:
    driver: bridge
  shared_network:
    external: true
