name: escrow
description: A Dart service that responds to Nostr messages and exposes a CLI.
version: 1.0.0
publish_to: none

environment:
  sdk: ^3.6.0

dependencies:
  args: ^2.7.0
  get_it: ^9.2.0
  injectable: ^2.7.1+4
  http: ^1.6.0 
  models:
    path: ../models
  hostr_sdk:
    path: ../hostr_sdk
  ndk:
    git:
      url: https://github.com/relaystr/ndk.git 
      path: packages/ndk 
  h3_dart: ^0.7.0
  interact_cli: ^2.4.0

dev_dependencies:
  test: ^1.29.0