name: escrow
description: A Dart service that responds to Nostr messages and exposes a CLI.
version: 1.0.0
publish_to: none

environment:
  sdk: ^3.6.0

dependencies:
  args: ^2.0.0
  get_it: ^9.2.0
  injectable: ^2.1.1
  http: ^1.2.0 
  models:
    path: ../models
  hostr_sdk:
    path: ../hostr_sdk
  ndk:
    git:
      url: https://github.com/relaystr/ndk.git 
      path: packages/ndk 

dev_dependencies:
  test: ^1.16.0